* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon__with__padding {
    padding: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

@font-face {
    font-family: 'Instagram Sans',sans-serif;
    src: url('../fonts/InstagramSans-Regular.ttf');
}


@font-face {
    font-family: 'Instagram Sans Light',sans-serif;
    src: url('../fonts/InstagramSans-Light.ttf');
}

.light {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.wrapper {
    width: 100%;
    background-color: #121212;
    color: #fff;
    height: 100%;
    .wrap__content {
        margin: 0 auto 30px;
        max-width: 935px;
    }
}

a {
    text-decoration: none;
}


.wrapper {
    display: flex;
}


.content {
    padding: 30px 20px 0;
}

.fw600  {
    color: #fff;
    font-weight: 600;
} 











.afd {
    grid-area: span 2 / span 2;
}
.dott {
    margin: 0 4px;
    border-radius: 50%;
    color: #fff !important;
}

// POpup

.popupdetailfwpruhwe {
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 979878978987891;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  
  .modfdfsdafasal-content {
    background-color: #000;
    margin: auto;
    padding: 20px;
    width: 83%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  